.topNavBar {
    overflow: hidden;
    text-align: center;
}

.elementsNavBar {
    display: inline-block;
    margin: 7% 2% 4% 2%;
    text-align: center;
    border-radius: 50%;
    font-family: Courier;
    width: 100px;
    height: 100px;
    line-height: 80px;
    padding: 4%;
}

h1 {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

h2 {
    color: black;
    font-size: 20px;
    font-family: Courier New;
    text-align: center;
}

#nav0:hover,
#nav1:hover,
#nav2:hover, 
#nav3:hover {
    -webkit-transform: scale(1.2);
}

#nav0 {
    background: #ffdbd6;
}

#nav1 {
    background: #fffcd6;
}

#nav2 {
    background: #d6ffdc;
}

#nav3 {
    background: #d6eeff;
}

.elementsNavBar a {
    text-decoration: none;
}

p {
    font-family: Tahoma;
    text-align: center;
    margin: 2%;
}

.paragraph {
    margin: 5% 30% 5% 30%;
}

#hacks p {
    margin-bottom: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#map {
    height: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
